/*http://eslint.org/docs/user-guide/configuring#configuring-rules*/
{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "restParams": true,
    "templateStrings": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
  },
  "rules": {
    "quotes": [2, "single"],
    "camelcase": [2, {"properties": "always"}],
    "curly": 2,
    "eqeqeq": [2, "smart"],
    "indent": [2, 2],
    "no-undef": 2,
    /*"strict": 2,
    "maxdepth": [2,5],
    "maxstatements": [2,40],
    "maxcomplexity": [2,8],
    "maxlen": [2,130],*/
  },
  "globals": {
    "Foo": true,
    "My": true,
  }
}
